// inject:sass
// endinject

a {
    color: $link-color;
    &:hover {
        text-decoration: none;
    }
}

.talkify-audio-control-voice-wrapper {
	display: none !important;
}

.talkify-audio-control {
	background: none !important;
	padding: 0 !important;
	border-top: 0px !important;
}

.fa {
	display: none !important;
}

.talkify-audio-control input[type="range"] {
	display: none !important;
}

#talkify-play {
	display: none !important;
}

