<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="container">
        <div class="row">
            <section id="root">
                <h3>This demo will load automatically, be patient.</h3>
                <p>
                    Hi, this is a short demo of the Talkify library. Let me describe some of my features.
                </p>
                <p>
                    Esta es una prueba de concepto.
                </p>
            </section>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary btn-block btn-xs" data-ng-click="vm.runTalk()">
                    <span class="glyphicon glyphicon-play">Play
                </button>
            </div>
            <div id="talkify-play" class="col-sm-3">
            </div>
        </div>
    </div>
</body>

</html>